configs/cloudinit-config.yml
configs/libvirt-config.yml
configs/join_workers.sh
configs/join_masters.sh
configs/dns.yml
configs/ha.yml
cluster-info.readme
ansible.cfg
do-not-delete/
cloud_images/
roles/
